#banner {
    display: flex;
    flex-direction: column;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: 'no-repeat';
    height: 600px;
    justify-content: center;

}

.categoryHeading {
    padding-top: 20px !important;
    text-align: center;
    color: white;
    font-weight: 600 !important;
    width: 190px;
    height: 240px;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
    background-size: 100%;
    transition: background-size 0.3s ease-in-out !important;
    cursor: pointer;
    background-position: center;
}


.categoryHeading:hover {
    background-position: center;
    background-size: 120%;
}

.itemgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    gap: 20px;
    scrollbar-width: none;
    overflow-x: auto;
    align-items: center;
  width: 80%;
  margin: auto;

}

.itemgrid::-webkit-scrollbar {
    scroll-behavior: smooth;
}

.itembox {
    padding: 10px;
    display: flex;
    flex-direction: column;    
    width: 400px;
    align-items: left;
 
}


#previcon {
    left: 8%;
}

#nexticon {
    right: 8%;
}


.icon {
    position: absolute;
    background-color: black;
    color: white !important;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    padding: 10px;

}